[run]
source = kaivosai
branch = True

[report]
omit =
    kaivosai/cli.py
    kaivosai/cli_backup.py
    kaivosai/viewer.py
    kaivosai/migrations.py
    kaivosai/robobrain.py
    kaivosai/clock.py
    kaivosai/db.py
    kaivosai/exceptions.py
    kaivosai/map.py
    kaivosai/models.py
show_missing = True
