Screen {
    layout: grid;   
    grid-size: 3 2;
}

#mapPanel {
    height: 100%;
}

#commandsPanel {

    height: 100%;
}

#objectsPanel {
    row-span: 1;
    width: 100%;
    height: 100%;
}

#eventsPanel {
    height: 100%;
    column-span: 1;
}

#gamesettingsPanel {
    height: 100%;
    column-span: 1;
}


.panel {
    border: round green;
    border-title-align: left;
    border-title-color: white;
}
