Screen {
    layout: grid;   
    grid-size: 3 2;
}

#map {
    height: 100%;
}

#commands {

    height: 100%;
}

#objects {
    row-span: 2;
    width: auto;
    height: 100%
}

#events {
    height: 100%;
    column-span: 2;
}


.box {
    border: round green;
    border-title-align: left;
    border-title-color: white
}
